---
# tasks file for sonar

- name: Create sonar user
  ansible.builtin.user:
    name: sonar
    shell: /usr/sbin/nologin
    create_home: yes

- name: Create required directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: sonar
    group: sonar
  loop:
    - /tmp/sonarqube
    - /opt/sonarqube
    - /opt/sonar-scanner

- name: Download SonarQube and Scanner zip files
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - url: https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-25.2.0.102705.zip
      dest: /tmp/sonarqube/sonarqube.zip

    - url: https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-7.0.1.4817-linux-x64.zip
      dest: /tmp/sonarqube/sonar-scanner.zip

- name: Extract SonarQube
  ansible.builtin.unarchive:
    src: /tmp/sonarqube/sonarqube.zip
    dest: /opt/sonarqube
    remote_src: yes
    owner: sonar
    group: sonar
    creates: /opt/sonarqube/sonarqube-25.2.0.10270/

- name: Extract Sonar Scanner
  ansible.builtin.unarchive:
    src: /tmp/sonarqube/sonar-scanner.zip
    dest: /opt/sonar-scanner
    remote_src: yes
    owner: sonar
    group: sonar
    creates: /opt/sonar-scanner/sonar-scanner-7.0.1.4817-linux-x64/

- name: Move files  
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
  loop:
    - src: /opt/sonarqube/sonarqube-25.2.0.10270/
      dest: /opt/sonarqube
    - src: /opt/sonar-scanner/sonar-scanner-7.0.1.4817-linux-x64/
      dest: /opt/sonar-scanner

- name: Delete zip file 
  file:
    state: absent
    path: "{{ item }}"
  loop:
    - /opt/sonarqube/sonarqube-25.2.0.10270
    - /opt/sonar-scanner/sonar-scanner-7.0.1.4817-linux-x64

- name: Configure DB Connection
  ansible.builtin.lineinfile:
    path: /opt/sonarqube/conf/sonar.properties
    regexp:
    line: 
    backup: yes
  loop:
    - { regexp: 'sonar\.jdbc\.username', key: 'sonar.jdbc.username', value: "{{ sonar_db_user }}" }
    - { regexp: 'sonar\.jdbc\.password', key: 'sonar.jdbc.password', value: "{{ sonar_db_password }}" }
    - { regexp: 'sonar\.jdbc\.url', key: 'sonar.jdbc.url', value: "jdbc:postgresql://localhost:5432/{{ sonarqube_db_name }}" }


- name: Deploy systemd service template
  ansible.builtin.template:
    src: sonarqube.service.j2
    dest: /etc/systemd/system/sonarqube.service
    owner: root
    group: root
    mode: '0644'
  notify: 
    - daemon-reload
    - restart sonarqube

