---
# tasks file for postgres
- name: Install postgres
  ansible.builtin.apt:
    state: present
    name: "{{ package }}"

- name: Enable postgres
  ansible.builtin.systemd:
    name: postgresql
    state: started
    enabled: yes

- name: Create sonarqube DB in postgres
  become_user: postgres
  community.postgresql.postgresql_db:
    name: sonarqube


- name: Change sonar user sonar_password
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ sonar_user }}"
    password: "{{ sonar_password }}"
    db: sonarqube
    state: present
  no_log: true

- name: Grant pri for sonarqube user 
  community.postgresql.postgresql_privs:
    db: sonarqube
    role: "{{ sonar_user }}"
    type: database
    privs: ALL
  become_user: postgres
      
- name: Grant priv for sonar_user for public 
  community.postgresql.postgresql_privs:
    db: sonarqube
    role: "{{ sonar_user }}"
    type: schema
    privs: ALL
  become_user: postgres
